#contact {
  padding: 5% 0;
}

.contact_background_container {
  display: flex;
}

.contact_background_green {
  background-color: rgba(112, 156, 123, 0.35);
  width: 100%;
}

.contact_background_purple h3 {
  align-self: center;
  margin-top: 2%;
  font-size: 300px;
  font-weight: 600;
  padding: 0 5%;
}

.contact_background_purple h3 span {
  font-size: 50px;
}

.contact_background_purple {
  background-color: rgba(157, 107, 163, 0.449);
  left: -10%;
  position: relative;
  text-align: end;
  width: 150%;
  border-bottom-right-radius: 10%;
  border-top-right-radius: 10%;
}

.contact_container {
  text-align: center;
  padding: 50px 0;
}

.contact_container a img {
  padding: 1%;
}

@media (max-width: 1000px) {

  .contact_background_purple h3 {
    font-size: 150px;
  }

  .contact_background_purple {
    background-color: rgba(157, 107, 163, 0.449);
    left: 0;
  }

}

