#contact {
  padding: 5% 0;
}

.contact_background_container {
  display: flex;
}

.contact_background_green {
  background-color: rgba(112, 156, 123, 0.35);
  width: 100%;
}

.contact_background_purple h3 {
  align-self: center;
  margin-top: 2%;
  font-size: 200px;
  padding: 0 5%;
}

.contact_background_purple h3 span {
  font-size: 40px;
}

.contact_background_purple {
  background-color: rgba(157, 107, 163, 0.449);
  left: -10%;
  position: relative;
  text-align: end;
  height: 300px;
  width: 150%;
  border-bottom-right-radius: 10%;
  border-top-right-radius: 10%;
}

.contact_container {
  text-align: center;
  padding: 50px 0;
}

.contact_container a img {
  padding: 1%;
}

@media (max-width: 1000px) {

}

@media (max-width: 770px) {


}

@media (max-width: 690px) {

}

@media (max-width: 599px) {

}

