footer {
  border-top: 2px solid rgba(0, 0, 0, 0.7);
  padding: 5% 0;
  text-align: center;
}

footer p {
  font-size: 100%;
  margin-top: 10%;
  color: rgb(0, 0, 0, 0.5);
}

.ref_icons {
  font-size: 10px;
  color: rgb(0, 0, 0, 0.5);
}
