.location_container {
  margin: 4% 5% 0 0;
  display: flex;
  align-items: baseline;
  justify-content: right;
}

.location_container img {
  width: 3%;
}

.location_container span {
  font-family: 'Zilla Slab', serif;
  font-size: 18px;
  color: rgba(40, 39, 36, 0.8);
  margin-left: 0.1%;
}

.header-nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 20px 0;
}

.header-nav a {
  text-decoration: none;
}

nav {
  padding: 0 10%;
  display: flex;
  justify-content: center;
}

nav a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.7);
  font-weight: bold;
  font-size: 26px;
  padding: 8%;
  border: 1px solid rgba(250, 239, 225, 0.3);
}

nav a:hover {
  border: 1px solid rgba(0, 0, 0, 0.7);
  cursor: pointer;
}

.menu_icon {
  display: none;
}

.title-name {
  color: rgb(0, 0, 0, 0.5);
  font-size: 50px;
  font-family: 'Cookie', cursive;
  text-shadow: -4px 2px 0px rgba(217, 179, 242, 0.478);
  cursor: pointer;
}

.header-background {
  display: flex;
}

.box-background {
  border-right: 80vw solid rgb(233, 215, 235, 0.7);
  border-top: 90vh solid transparent;
  width: 20%;
}

.title-page-principal {
  display: flex;
  justify-content:left;
  padding: 8% 10%;
  font-weight: 600;
  line-height: 0.8;
  font-size: 50px;
  color: rgba(40, 39, 36, 0.8);
  position: absolute;
  z-index: 1;
  animation-name: identifier;
  animation-duration: 2s;
}

.text-two {
  font-size: 50%;
}

.text-three {
  display: block;
  font-size: 110%;
}

.text-four {
  margin-left: 35%;
}

@keyframes identifier {
  0% { opacity: 0; }
  50% {opacity: 0.5;}
  100% { opacity: 1; }
}

@media (max-width: 1000px) {

  .title-name {
    font-size: 45px;
  }

  .title-page-principal {
    padding: 10% 8%;
    font-size: 45px;
  }

  nav {
    padding: 0 8%;
  }

  nav a {
    font-size: 24px;
    padding: 7%;
  }

}

@media (max-width: 770px) {

  .location_container img {
    width: 7%;
  }

  .title-name {
    font-size: 40px;
  }

  .title-page-principal {
    padding: 13% 8%;
    font-size: 40px;
  }

}

@media (max-width: 690px) {

  .location_container span {
    font-size: 16px;
  }

  .title-name {
    font-size: 35px;
  }

  .title-page-principal {
    justify-content: center;
    padding: 13% 8%;
    font-size: 35px;
  }

  nav {
    padding: 8%;
  }

  nav a {
    display: none;
  }

  .menu_icon {
    display: block;
    width: 40px;
    opacity: 0.8;
  }

}

@media (max-width: 599px) {

  .title-name {
    font-size: 25px;
  }

  .menu_icon {
    width: 30px;
  }

  .header-background {
    display: block;
  }

  .title-page-principal {
    font-size: 20px;
  }

  .box-background {
    background-color:rgb(233, 215, 235, 0.7);
    box-shadow: -2px 1px 0 rgb(233, 215, 235);;
    width: 100%;
    padding: 25vh 0;
    border: 0;
  }

}

