#projects {
  padding: 16% 0;
  display: flex;
  align-items: center;
  height: 100vh;
}

.project-background {
  border-top: 10vh solid transparent;
  border-bottom: 20vh solid transparent;
  border-right: 70vh solid rgba(250, 128, 114, 0.35);
  height: 100%;
}

.project-background p {
  position: absolute;
  left: 70%;
  font-size: 300px;
}

.project-background p span {
  font-size: 50px;
  font-weight: 600;
}

.projects-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  overflow: scroll;
  height: 100%;
}

.slide {
  border: 2px solid rgba(0, 0, 0, 0.7);
  box-shadow: 5px 1px 1px solid black;
  text-align: right;
  padding: 2%;
  margin: 10px 0 10px 0;
  width: 80%;
}

.slide img {
  opacity: 0.9;
  cursor: pointer;
}

.slide img:hover {
  opacity: 0.7;
}

.slide div {
  display: flex;
  justify-content: flex-end;
}

.slide img {
  margin-top: 5px;
}

.slide button {
  padding: 7px 10px;
  margin: 0px 5px 5px 0;
  background-color: transparent;
  border: 2px solid rgba(32, 32, 32, 0.7);
  font-size: 18px;
  font-weight: 600;
  color: rgba(36, 36, 40, 0.8);
  cursor: pointer;
}

.projects-container::-webkit-scrollbar {
  visibility: hidden;
  width: 0;
}

.share_message {
  min-height: 20px;
}

.mobile-project-background {
  display: none;
}

@media (max-width: 1000px) {

  .project-background {
    border-right: 60vh solid rgba(250, 128, 114, 0.35);
  }

  .project-background p {
    left: 53%;
  }

}

@media (max-width: 770px) {

  #projects {
    flex-direction: column;
  }

  .project-background {
    border-right: 60vh solid rgba(250, 128, 114, 0.35);
  }

  .project-background p {
    left: 53%;
    font-size: 300px;
  }

  .project-background {
    display: none;
  }

  .mobile-project-background {
    display: block;
    width: 100%;
    background-color: rgba(250, 128, 114, 0.4);
    font-size: 200px;
    font-weight: 600;
  }

  .mobile-project-background p span{
    font-size: 50px;
  }

  .projects-container {
    height: 60%;
    margin-top: 5%;
  }

  .slide {
    width: 70%;
  }

}

@media (max-width: 690px) {

  .mobile-project-background p {
    font-size: 150px;
  }

}
